{% extends "admin/change_list.html" %} {% load i18n %}
{% block object-tools-items %}
    {{ block.super }}
    <li>
    <a class='historylink' href="import-csv/">Import CSV</a>
    </li>
{% endblock %}